
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* شفافية */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.popup-box {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 350px;
  max-width: 90%;
  text-align: center;
  animation: fadeIn 0.4s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

select,
button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0;
}

.success {
  color: green;
  margin-top: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}
